.c-light {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.c-light__lamp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* height: 100%; */
}

.c-light__lamp > span {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.c-light__lamp > span span {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.c-light__controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.c-light__range {
  width: 90%;
}
